@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.App {
  display: flex;
  align-items: center;
  background-color: #212121;
  color: whitesmoke;
  flex-direction: column;
}

.main-header {
  margin: 2rem;

  font-family: "Montserrat", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
